
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
</head>
 <style>
 .form-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh;
  background-color: #f9f9f9; 

.form-box {
  width: 400px; 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  background-color: white; 
}


.form-group {
  margin-bottom: 15px; 
}


.form-control {
  width: 100%; 
  padding: 10px; 
  border: 1px solid #ccc;
  border-radius: 4px; 
  box-sizing: border-box; 
}


.btn {
  background-color: #007bff; 
  color: white; 
  padding: 10px 15px; 
  border: none; 
  border-radius: 4px; 
  cursor: pointer; 
  transition: background-color 0.3s; 
}


.btn:hover {
  background-color: #0056b3; 
}
</style>
</head>
<body> 

<div class="form-container">
  <div class="form-box">
  <h2 style="text-align: center;">Signup Page</h2>
    <%= form_with(model: @user, url: signup_path, local: true) do |f| %>
      <div class="form-group">
        <%= f.label :email %><br/>
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :username %><br/>
        <%= f.text_field :username, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password %><br/>
        <%= f.password_field :password, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.submit "Sign Up", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
</body>
